/**首页样式**/
body{
	margin:0px;
	padding:0px;
	/*background-color:#CCCC99;*/
	font-family: "微软雅黑";
}
ul{
	margin:0px;
	padding:0px;
}
h4{
	margin:0px;
	padding:0px;
	width:100%;
	height:30px;
	line-height: 30px;
}
/******首部****/
#header{
	width:100%;
	height:120px;
	border-bottom:4px #663366 solid;
}

#header_con{
	width:1000px;
	height:120px;
	/*background-color:#abcdef;*/
	margin:0 auto;
	padding:0px;
	position:relative;
}

#header input{
	margin:0px;
	padding:0px;
}

#header .myKey{
	color:#663366;
	border:none;
	font-family: "微软雅黑";
	background-color: #CCCC99;
	height:24px;
}

.keyWord{
	position:relative;
	left:4px;
}

.btn{
	width:29px;
	background-image: url(../images/search.jpg);
}
.btn:hover{
	cursor: pointer;
}

#search{
	width:300px;
	height:30px;
	position:absolute;
	right:0px;
	top:40px;
}

#nav{
	width:500px;
	height:30px;
	position: absolute;
	left:0px;
	bottom:0px;
}

#nav ul li{
	list-style: none;
	float:left;
	width:100px;
	height:30px;
	text-align: center;
	line-height: 30px;
}

#nav a{
	text-decoration: none;
	color:#663366;
}
#nav a:hover{
	text-decoration:underline;
	color:#000000;
}
/******首部结束****/
/*******主内容******/
#main{
	width:100%;
	height:430px;
	position:relative;
	top:25px;
	/*background-color:#6699CC;*/
	background-color:#CCCC99;
}

#main_con{
	width:1100px;
	height:430px;
	position:relative;
	margin:0 auto;
	padding:0px;
	/*background-color:#ccc;*/
}

#main_con_hot{
	width:270px;
	height:300px;
	position: absolute;
	top:0px;
	left:0px;
	background-color: #663366;
}

#main_con_hot h4{
	border-bottom:2px #663366 solid;
	text-indent: 4px;
	letter-spacing: 2px;
	-webkit-text-fill-color:#663366;
	-webkit-text-stroke:#ffffff 1px;
}

#main_con_time{
	width:270px;
	height: 125px;
	position: absolute;
	bottom:0px;
	left:0px;
	background-color:#6699CC;
}

.book_class{
	width:300px;
	height:210px;
	position: absolute;

	-webkit-perspective: 1000;
}

.jindian{
	top:0px;
	left:275px;
	/*background-color: #663366;*/
}

.zhexue{
	bottom:0px;
	left:275px;
	height:215px;
	/*background-color: #6699CC;*/
}

.shehuikexue{
	top:0px;
	left:580px;
	height:215px;
	/*background-color: #6699CC;*/
}

.jisuanji{
	bottom:0px;
	left:580px;
	/*background-color: #663366;*/
}

.lishidili{
	top:0px;
	width:215px;
	right:0px;
	height:215px;
	/*background-color: #6699CC;*/
}

.flipper {
	transition:0.9s;
	transform-style:preserve-3d;
	position: relative;
}

.book_class:hover .flipper, .book_class.hover .flipper {
	transform: rotateY(180deg);
}

.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	background:#abcdef;
}

.front, .back {
	width:300px;
	height:210px;
}

.front {
	z-index:2;
}

.back {
	transform: rotateY(180deg);
}

.book_class img{
	position:absolute;
}

/*********传统经典推荐*******/
#classical{
	width:1100px;
	height:270px;
	position:relative;
	top:25px;
	/*background-color: #ccc;*/
	margin:0 auto;
}

#classical h1{
	width:100%;
	margin:0px;
	padding:0px;
}

#classical .c{
	width:310px;
	height:200px;
	position:absolute;
	top:45px;
	background-color:#00ff00;
}

#classical .two{
	left:400px;
}

#classical .three{
	right:0px;
}

#footer{
	width:100%;
	height:150px;
	position: relative;
	top:20px;
	background-color:#3366CC;
}

#sign{
	width:1100px;
	height:150px;
	position:relative;
	margin:0 auto;
	color:#ffffff;
	font-size:30px;
}